@import "tailwindcss";

@theme {
  --color-primary: #18498f;
  --color-secondary: #FFB000;
}

body {
  background-color: var(--color-gray-50, #f9fafb);
  color: var(--color-gray-900, #111827);
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
